@import "./destyle.min.scss";

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {

}

.title {

}

.form-area {

}

.form-group {

}

.form-label {

}

.form-input {

}

.form-btn {

}
