@import "./destyle.min.scss";

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 400px;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.title {
}

.form-area {
}

.form-group {
}

.form-label {
}

.form-input {

}

.form-btn {

}
